{% set title = article.getTitle() %}
{% set subtitle = article.getSubTitle() %}
{% set image = article.getImage() %}
{% set content = article.getContent() %}

{% extends 'KindersySiteBundle::article.html.twig' %}
