{% extends 'KindersySiteBundle:Default:default.html.twig' %}

{% block content %}
{{ parent() }}

{#
<strong>Новости:</strong>
{{ render(controller('KindersySiteBundle:News:thumb')) }}
#}

<h2 class="promo">Наши новости</h2>
{{ render(controller('KindersySiteBundle:News:promo')) }}
<br>
{% endblock %}
