<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Киндерсы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Студия развития детей раннего возраста Киндерсы">
    <meta name="author" content="Киндерсы">
    <meta name="keywords" content="малыши,развитие,ульяновск,шигаева,центр раннего развития,развивайка">

    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
	{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/kindersy.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
	{% endblock %}
  </head>
  <body>

    <div id="wrap">
      <div class="container">
		
		{% block header %}
		{% endblock %}

        <div class="clearfix content{% if page is defined %} {{page}}{% endif %}">
			{% block content %}
			{% endblock %}
        </div>

      </div>
    </div>
    <div id="footer">
      <div class="container">
        &copy; 2013–{{ "now"|date('Y') }} <span class="hidden-my">Студия развития детей раннего возраста </span>&laquo;Киндерсы&raquo;
      </div>
    </div>

	{% block javascripts %}
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42334731-1', 'kindersy.ru');
      ga('send', 'pageview');
    </script>
	{% endblock %}
  </body>
</html>
