{% set title = post.getTitle() %}
{% set subtitle = "" %}
{% set image = post.getImage() %}
{% set content = post.getContent() %}

{% extends 'KindersySiteBundle::article.html.twig' %}

{% block content %}

{{ parent() }}

{% if oldPosts is defined and oldPosts %}
<strong>Предыдущие новости:</strong>
<div class="row clearfix">
  {% for oldPost in oldPosts %} 
    <div class="col-md-4">
    {% include 'KindersySiteBundle:News:thumb.html.twig' with {'post': oldPost} %}
    </div>
  {% endfor %}
</div>
<br>
{% endif %}

{% endblock %}
