<div class="mini-news promo clearfix">
<div class="mini-news-img"><a href="{{ path('_news_show', {'id': post.getId()}) }}"><img src="{{ asset('images/' ~ post.getThumbImage) }}"></a></div>
<span class="mini-news-title">{{ post.getThumbTitle()|raw }}</span>
<br><a href="{{ path('_news_show', {'id': post.getId()}) }}">Подробнее...</a>
</div>
