<div class="mini-news clearfix">
<div class="mini-news-img"><a href="{{ path('_news_show', {'id': post.getId()}) }}"><img src="{{ asset('images/' ~ post.getThumbImage) }}"></a></div>
<strong class="text-muted">({{ post.getDate().format('d.m.Y') }})</strong> <span class="mini-news-title">{{ post.getThumbTitle()|raw }}</span>
<br><a href="{{ path('_news_show', {'id': post.getId()}) }}">Читать далее...</a>
</div>
