{% extends 'KindersySiteBundle::base.html.twig' %}

{% block content %}
<h2>
  {{ title|raw }}
  {% if subtitle %}
  <div class="text-muted">{{ subtitle|raw }}</div>
  {% endif %}
</h2>
<div class="row description clearfix">
  {% if image %}
    <div class="col-md-7">
  {% else %} 
    <div class="col-md-12">
  {% endif %}
      {% block article %}{{ content|replace({'%email%': config.get('company.email'), '%city%': config.get('company.address.city'), '%street%': config.get('company.address.street'), '%phone%': config.get('company.phone') })|raw }}{% endblock %}
    </div>
  {% if image %}
    <div class="col-md-5"><img src="{{ asset('images/' ~ image) }}" class="img-responsive" alt="{{ title }}"></div>
  {% endif %}
</div>
{% endblock %}
