<div class="masthead">
  <div class="clearfix">
    <div class="logo pull-left">
      <h1><a href="{{ path('_index') }}"><img src="{{ asset('images/logo5.png') }}" width="320" alt="{{config.get('company.name')}}"></a></h1>
    </div>
    <div class="address pull-right">
      {% block headeraddress %}
      <div class="address-line">{{config.get('company.address.city')}},</div>
      <div class="address-line">{{config.get('company.address.street')}}</div>
      <div class="address-phone">{{config.get('company.phone')}}</div>
	  {% endblock %}
    </div>
  </div>
  {% block navigationMenu %}
  <ul class="nav nav-justified">
    <li class="nav-underlay hidden-xs">
      <div class="nav-side-first">&nbsp;</div>
      <div class="nav-side-last">&nbsp;</div>
    </li>
    {% block navigationItems %}
	{{ render(controller('KindersySiteBundle:Menu:show')) }}
    {% endblock %}
  </ul>
  {% endblock %}
</div>
