{% set counter = 0 %}
{% for menuItem in menu %}
  {% set counter = counter + 1 %}
  <li id="nav-{{ counter }}"{% if menuItem.active %} class="active"{% endif %}><a href="{{ path('_' ~ menuItem.page) }}">{{ menuItem.name }}</a></li>
{% endfor %}
