html, body {
/*  font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 15px;
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#footer {
  height: 60px;
  background-color: #f0f0f0;
}
#footer .container {
  padding-top:20px;
}
.photo-link {
  text-align: center;
  width: 310px;
}
.schedule h3 {
  color: #888;
}
.schedule th {
  background-color: #ffac1c;
  border-color: #fff !important;
  color: #fff;
}
.schedule td.time {
  font-weight: bold;
}
.course-pricing-label {
  font-size: 18px;
  padding: 5px 0 2px 0;
}
ul.course-pricing {
  padding: 0;
  margin: 0;
}
.course-pricing li {
  float: left;
  list-style: none;
  padding-right: 30px;
}
.course-pricing .frequency {
  color: #888;
  font-size: 13px;
}
.course-pricing .price {
  color: #ff6600;
  font-size: 24px;
  line-height: 24px;
}
.row.description {
  padding-bottom: 15px;
}
.row.description img,
.photo-album
{
  margin-bottom: 5px;
}
.description p {
  text-align: justify;
/*  text-indent: 32px;*/
}
.testimonials .description p {
  font-style: italic;
}
.testimonials .description p:before,
.testimonials .description p:after
{
  content: '«';
  font-size: 36px;
  color: gray;
  line-height: 8px;
}
.testimonials .description p:after {
  content: '»';
}
.content.index {
  margin-top: 10px;
}
.content.index h1 {
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 1;
/*  display: inline-block;*/
}
.content.index h2 {
  margin-bottom: 20px;
}
.content h2.promo {
  margin-bottom: 10px;
  color: #ff6600;
}
.promo.highlight {
  color: red;
}
.masthead .address {
  font-size: 18px;
  text-align: right;
  padding: 16px 0;
}
.description .address {
  font-size: 16px;
}
.address-line {
  color: #ff6600;
}
.address-phone {
  color: #888;
}
.address .address-phone {
  line-height: 32px;
  font-size: 22px;
}
#contacts-map iframe {
  max-width: 100%;
}
.mini-news {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mini-news-img {
  float: left;
  margin-right: 10px;
}
.mini-news.promo {
  font-size: large;
}

/*
.logo {
  width: 320px;
}
*/
.logo img {
  max-width: 100%;
}
.logo h1 {
  margin-top: 10px;
}

.nav-underlay {
  width: 100%!important;
  position: absolute!important;
  left: 0!important;
}
.nav-side-first,
.nav-side-last
{
  height: 100%;
  width: 50%;
  display: inline-block;
  padding: 10px 15px;
}
.nav-side-first {
  float: left;
}
.nav-side-last {
  float: right;
}

.nav li a,
.nav-underlay
{
  color: #fff;
  font-size: 18px;
}

.nav li a:hover,
.nav li a:focus,
.nav li a:active
{
  color: #fff;
/*  text-shadow: 0 1px 0 #999;*/
}

.nav li.active a {
  background: #e5e5e5 !important;
  color: #000 !important;
}

.nav li#nav-1 a,
.nav-side-first
{
  background-color: #df0025;
  background: -webkit-linear-gradient(top, #ff2045, #e90025);
  background: -o-linear-gradient(top, #ff2045, #e90025);
  background: -ms-linear-gradient(top, #ff2045, #e90025);
  background: linear-gradient(top, #ff2045, #e90025);
}
.nav li#nav-2 a {
  background-color: #ff4e6b;
  background: -webkit-linear-gradient(top, #ff6e8b, #ef4e6b);
  background: -o-linear-gradient(top, #ff6e8b, #ef4e6b);
  background: -ms-linear-gradient(top, #ff6e8b, #ef4e6b);
  background: linear-gradient(top, #ff6e8b, #ef4e6b);
}
.nav li#nav-3 a {
  background-color: #ffac1c; /*ff7f2a */
  background: -webkit-linear-gradient(top, #ffcc3c, #ffac1c);
  background: -o-linear-gradient(top, #ffcc3c, #ffac1c);
  background: -ms-linear-gradient(top, #ffcc3c, #ffac1c);
  background: linear-gradient(top, #ffcc3c, #ffac1c);
}
.nav li#nav-4 a {
  background-color: #efd50a;/* #fae600;/* #ffe50a;*/
  background: -webkit-linear-gradient(top, #ffe50a, #efd50a);
  background: -o-linear-gradient(top, #ffe50a, #efd50a);
  background: -ms-linear-gradient(top, #ffe50a, #efd50a);
  background: linear-gradient(top, #ffe50a, #efd50a);
}
.nav li#nav-5 a {
  background-color: #66b400;
  background: -webkit-linear-gradient(top, #86d420, #66b400);
  background: -o-linear-gradient(top, #86d420, #66b400);
  background: -ms-linear-gradient(top, #86d420, #66b400);
  background: linear-gradient(top, #86d420, #66b400);
}
.nav li#nav-6 a {
  background-color: #00babe;
  background: -webkit-linear-gradient(top, #20dade, #00babe);
  background: -o-linear-gradient(top, #20dade, #00babe);
  background: -ms-linear-gradient(top, #20dade, #00babe);
  background: linear-gradient(top, #20dade, #00babe);
}
.nav li#nav-7 a,
.nav-side-last
{
  background-color: #004c6d;
  background: -webkit-linear-gradient(top, #206c8d, #004c6d);
  background: -o-linear-gradient(top, #206c8d, #004c6d);
  background: -ms-linear-gradient(top, #206c8d, #004c6d);
  background: linear-gradient(top, #206c8d, #004c6d);
}

@media (max-width: 767px) {
  #footer .hidden-my {
    display: none;
  }
}
@media (max-width: 514px) {
  .masthead .address {
    padding-top: 0;
  }
  .address .address-line {
    display: inline-block;
  }
}
