{% extends 'KindersySiteBundle::base.html.twig' %}

{% block content %}

<h2>Отзывы</h2>

<p>Вы можете оставить свой отзыв о нашей студии при посещении занятий или отправив его письмом на адрес <a href="mailto:{{  config.get('company.email') }}">{{ config.get('company.email') }}</a></p>
<br>

{% for testimonial in testimonials %}

{% include 'KindersySiteBundle:Testimonials:testimonial.html.twig' with {'testimonial': testimonial} %}

{% endfor %}

{% endblock %}
