<div class="row description clearfix">
    <div class="col-md-8">
      {#{ testimonial.getId() }}. #}<p>{{ testimonial.getContent()|raw }}</p>
    </div>
    <div class="col-md-4"><a href="{{ asset('images/' ~ testimonial.getImage()) }}" target="_blank"><img src="{{ asset('images/' ~ testimonial.getThumb()) }}" class="img-thumbnail img-responsive" alt="Скан отзыва"></a></div>
</div>

