<h2>
  {{ course.getTitle()|raw }}{% if course.getSubtitle() %}. <span class="text-muted">«{{ course.subtitle() }}»</span>{% endif %}
</h2>
<div class="row description clearfix">
    <div class="col-md-4{% if isOdd %} visible-sm visible-xs{% endif %}"><img src="{{ asset('images/' ~ course.getImage()) }}" class="img-responsive" alt="{{ course.getTitle() }}"></div>
    <div class="col-md-8">
      {{ course.getDescription()|raw }}
        {% if course.getPrice1() or course.getPrice2() %}
        <p>
        <div class="course-pricing-label">Стоимость месячного абонемента:</div>
        <ul class="course-pricing">
        {% if course.getPrice1() %}
            <li>
            <div class="frequency">один раз в неделю</div>
            <div class="price">{{ course.getPrice1()|raw }} руб.</div>
            </li>
        {% endif %}
        {% if course.getPrice2() %}
            <li>
            <div class="frequency">два раза в неделю</div>
            <div class="price">{{ course.getPrice2()|raw }} руб.</div>
            </li>
        {% endif %}
        </ul>
        </p>
        {% endif %}
    </div>
    {% if isOdd %}
    <div class="col-md-4 hidden-sm hidden-xs"><img src="{{ asset('images/' ~ course.getImage()) }}" class="img-responsive" alt="{{ course.getTitle() }}"></div>
    {% endif %}
</div>

