{% extends 'KindersySiteBundle::base.html.twig' %}

{% block content %}

{% for course in courses %}

{% include 'KindersySiteBundle:Course:course.html.twig' with {'course': course, 'isOdd': loop.index is odd} %}

{% endfor %}

{% endblock %}
